<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1019100925536-ggmb9hj4uk88abtn5d32h5rgb13sqp2d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1019100925536-ggmb9hj4uk88abtn5d32h5rgb13sqp2d</string>
	<key>API_KEY</key>
	<string>AIzaSyD5fv-CCRmRx7LoWH1d2Xhu37uZ9RX9JUg</string>
	<key>GCM_SENDER_ID</key>
	<string>1019100925536</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sergey.--SergeyLyashenko</string>
	<key>PROJECT_ID</key>
	<string>fir-vk-5741f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-vk-5741f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1019100925536:ios:a23e2b8a838f5d70877d05</string>
</dict>
</plist>